.title {

}

#Hello {
    font-family: Verdana;
    font-weight: bold;
    text-align: right;
}


.header {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    color: #1d242e;
    width: 100%;
    height: 100px;
    display: block;
    border-radius: 25px;
}

.container {
    display: flex;
    gap: 20px;
    margin-top: 130px;
}

.add-new-song {
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #1d242e;
}

.input-title{
    width: 100px;
    height: 50px;
   
}


#judulLagu,
#artis, 
#link {
    background-color: #7fc649;
    color: #1d242e;
    font-family: Verdana;
    border-collapse: collapse;
    width: 285px;
    padding: 12px;
    border: 1px solid #f7f2ed;
    border-radius: 40px;
}

#link {
    margin-bottom: 10px;
}

.button-click {
    width: 310px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border-radius: 40px;
    background-color: #7fc649;
    color: #ffff;

}

input::placeholder {
    color: #1d242e;
}


.background {
    background-color: #f7f2ed;
}

#myTable {
    width: 1010px;
    background-color: #1d242e;
    color: #ffff;
    font-family: Verdana;
    border-collapse: collapse;
    border-radius: 30px
}

td {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid;
    border: 1px solid #f7f2ed;
}

th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid;
    border: 1px solid #f7f2ed;
}

#tableBody {
    background-color: #7fc649;
}

.deleteImage{
    height: 19px;
    width: 19px;
    margin: auto;
}

.dataButton button{
    width: 37px;
    height: 35px;
}

.playImage{
    height: 19px;
    width: 19px;
    align-items: center;
}

.editImage{
    height: 19px;
    width: 19px;

.footer {
    font-size: 12px;
    font-family: Verdana;
    font-weight: italic;
    text-align: center;
    color: #1d242e;
}